////
// This is a sample config file.
// You should copy this file and rename is to
// config.h

#define BUTTON_A  0
#define BUTTON_B 16
#define BUTTON_C  2

// the FSR and pulldown resistor are connected to a0
#define fsrPin A0

// Number of Polling intervals to average
#define fsrMaxReadings 5

// Interval (ms) between polls
#define pollingInterval 150

// Seconds of no resistance change till sleep
#define secondsTillSleep 600

// Calibration max voltage == max resistance
int maxV = 950;