////
// This is a sample config file. 
// You should copy this file and rename is to
// config.h

#define BUTTON_A  0
#define BUTTON_B 16
#define BUTTON_C  2

// the FSR and pulldown resistor are connected to a0 
int fsrPin = A0;    

// moving average variables
#define fsrCountMax 5
float fsrMA = 0.0;
int fsrTotal = 0;
int fsrCount = fsrCountMax;
int fsr[fsrCountMax]; 

// max voltage (based on pulldown resistor) seen on 
// analog (A0) port, used to normlaize display
int maxV = 950;  
int fsrN = 0;
int fsrLast = 0;

// timeout 
#define fsrTimeout 10 * 60
int fsrHeld = 0;
int displayState = 1;

 
